{% load static %} 
{% block static%}
<link rel="stylesheet" href="{% static 'usuarios/profile-page.css' %}">
{% endblock%}



{% block content%}
<body>
    <div class="container">
        <h1>Meu Perfil</h1>
        {% if foto %}
            <img id="profileImage" src="{{ foto }}" alt="Foto de perfil" class="profile-image">
        {% else %}
            <img id="profileImage"  src="" alt="Foto de perfil padrão" class="profile-image">
        {% endif %}
        <form id="profileForm" method="post" action="{% url 'usuarios:perfil' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="photo">Foto de Perfil:</label>
                <input type="file" id="photo" name="foto" onchange="previewImage()">
            </div>
            <div class="form-group">
                <label for="">Nome:</label>
                <label for="name">{{ nome }}</label>
            </div>

            <div class="form-group">
                <label for="birthdate">Data de Nascimento:</label>
                <label for="birthdate">{{ data_de_nascimento }}</label>
            </div>
            <div class="form-group">
                <label for="descricao">Descrição:</label>
                <textarea type="text" id="descricao" name="descricao">{{ descricao }}</textarea>
            </div>
            <button type="submit">Salvar</button>
        </form>
    </div>
</body>
<script>
        function previewImage() {
            const fileInput = document.getElementById('photo');
            const profileImage = document.getElementById('profileImage');
            
            if (fileInput.files && fileInput.files[0]) {
                const reader = new FileReader();
                
                reader.onload = function(e) {
                    profileImage.src = e.target.result;
                };
                
                reader.readAsDataURL(fileInput.files[0]);
            }
        }
        </script>
</body>
</html>

{% endblock%}