@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');


:root {
    --main-bg-color: #201b2c;
    --main-font-color: #77ffc0;

}

* {
    margin: 0;
    padding: 0;
    background-color: var(--main-bg-color);
}

html {
    width: 100%;
    height: auto;
    background-color: var(--main-bg-color);
    font-family: sans-serif, "Roboto";
}

body {
    background-color: var(--main-bg-color);

    header {

        .navbar {
            font-family: "Roboto", sans-serif;

            .navbar-brand {
                font-size: 1.5rem;
            }

            #navbarNav {

                .navbar-nav {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;

                    #left-items {
                        display: flex;
                        align-items: center;
                        .navbar-brand{
                            width: 100px;
                            height: auto;
                            padding: 1rem;
                        }
                        .nav-item {
                            .nav-button {
                                border: none;
                                background-color: transparent;

                                .nav-link {
                                    color: var(--main-font-color);
                                    font-size: 1.5rem;
                                    margin-left: 2rem;
                                    transition: 0.3s;
                                &:hover{
                                    transform: translate(2px, -2px);
                                    opacity: 0.7;
                                }
                                }
                                
                            }
                        }
                    }

                    #right-items {
                        display: flex;
                        align-items: center;
                        justify-content: end;

                        .nav-item {
                            .nav-button {
                                margin: 7px;
                                border: none;
                                border-radius: 32px;
                                outline: none;
                                text-transform: uppercase;
                                font-weight: 600;
                                letter-spacing: 1px;
                                background: #00ff88;
                                cursor: pointer;
                                box-shadow: 0px 10px 40px -12px #00ff8052;
                                .nav-link {
                                    color: #2b134b;
                                    font-size: 1.5rem;
                                    transition: 0.3s;
                                    &:hover{
                                        transform: translate(2px, -2px);
                                        opacity: 0.7;
                                    }
                                }

                            }
                        }
                    }
                }
            }
        }
    }

    main {
        .container {
            background-color: transparent;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            div{
                div{
                    h1{
                        color: var(--main-font-color);
                    }
                    P{
                        color: var(--main-font-color);
                    }
                }
            }
            .container-image {
                .container-images{
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    align-content: center;
                    flex-direction: row;
                    flex-wrap: wrap;
                    margin-top: 6%;
                    .figure{
                        position: relative;
                        margin: 0 2rem 0 2rem;
                        width: 294px;
                        .centered-text{
                            position: absolute;
                            color: white;
                            font-size: 18px;
                            font-weight: 500;
                            top: 70%;
                            
                            text-align: center;
                            background-color: transparent;
                            .blur-background{
                                border-radius: 32px;
                                padding: 0.7rem;
                                background-color: transparent;
                                backdrop-filter: blur(3px);
                                h4{
                                    background-color: transparent;
                                }
                                p{
                                    background-color: transparent;
                                        
                                }
                            }
                        }
                        .figure-img{
                            height: 440px;
                            margin: 0;
                            border-radius: 4px 4px 0 0 !important;
                        }
                        #mid-img{
                            height: 480px;
                        }
                        .blur-image{
                            filter: blur(3px);
                        }
                        .figure-caption{
                            padding: 4px;
                            font-size: 32px;
                            display: flex;
                            justify-content: space-evenly;
                            background-color: white;
                            border-radius: 0 0 4px 4px;
                            .ph-heart{
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                border: 2px solid #d9d9d9;
                                padding: 8px;
                                width: 40px;
                                height: 40px;
                                border-radius: 50%; 
                                text-align: center;
                                line-height: 20px;
                                color: lightgreen; 
                                background-color: white;
                            }
                            .ph-x{
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                border: 2px solid #d9d9d9;
                                padding: 8px;
                                width: 40px;
                                height: 40px;
                                border-radius: 50%; 
                                text-align: center;
                                line-height: 20px;
                                color: red;
                                font-weight: 700;
                                background-color: white;
                            }
                        }

                    }

                }
            }
        }
    }
}